html,
body {
  margin: 0;
  padding: 0;
  width: 352px;
  min-width: 352px;
  max-width: 352px;
  height: auto;
  overflow: hidden;
  background: #0d0f17;
}

#root {
  margin: 0;
  padding: 0;
  width: 352px;
  min-width: 352px;
  max-width: 352px;
  overflow: hidden;
}
